body{
    font-family: 'Oswald', sans-serif;
    background-color:darkgray;
}
.header{
    text-align: center;
    margin-top: 2cm;
    background-color: darkgrey;
    
}
.hero{
    text-align: center;
    margin-top: 2cm;
}
.p_sec1{
    margin-top: 1cm;
}

.section_2{
    background-color: blueviolet;
    height: 80vh;
    text-align: center;
}

.div_sec_2{
    padding-block-start: 2.5cm;
    color: white;
    width: 800px;
    margin: 0 auto;

}

.div_p{
    margin-left: 3cm;
    margin-right: 3cm;

}

.kotak{
    margin-top: -140px;
    text-align: center;
    
}
.btn_see_more{
    margin-top: 2.5cm;
    text-align: center;
    
}
hr{
    margin-top: 3cm;
    margin-left: auto;
    margin-right: auto;

}

.judul_2{
    text-align: center;
    margin-top: 3cm;
}

.sec_4{
    text-align: center;
    margin-top: 2cm;
}
.judul{
    text-align: center;
    margin-top: 3cm;

}
.sec_5{
    text-align: center;
    margin-top: 2.5cm;
}

.section_6{
    background-color: blueviolet;
    height: 80vh;
    text-align: center;
    margin-top: 4cm;
}

.footer{
    color:white;    
    padding-block-start: 2.5cm;
    margin-top: 3cm;


}

.div_p_p{
    margin-left: 10cm;
    margin-right: 10cm;

}


